/* Navbar.css */
.navbar {
    overflow: hidden;
    background-color: #060606;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 12px;
}

.navbar a {
    margin: 0 30px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: rgb(11, 0, 105);
    border-radius: 12px;
    transition: background-color 0.5s ease;
}

.logo {
    float: left;
    color: white; 
    font-weight: bold;
}

.about-link {
    float: right;
}

/* Adjusted styles for better mobile responsiveness */
@media (max-width: 768px) {
    .navbar a {
        float: none;
        text-align: center;
        width: 100%;
        margin: 5px 0;
    }

    .logo,
    .about-link {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
}